// ? MAX WIDTH 767
@media (max-width: 767px) {
  // ! FOOTER
  .foot {
    height: 11.5rem;
    width: 100%;
    position: static;
    .footer-container {
      width: 100%;
      .social-links li {
        font-size: 2.5rem;
        margin-right: 1rem;
        margin-top: 2rem;
      }
      div .skcopyright strong {
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-top: 10rem;
        color: chartreuse;
        width: 100%;
      }
      .policy {
        margin-left: 2rem;
        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  
  // ! NAVBAR
  .navbar {
    width: 100%;
    .nav-top {
      display: block;
      width: 80%;
      img {
        width: 100%;
      }
      .contact {
        .email {
          p {
            font-size: 1rem;
            ion-icon {
              font-size: 2rem;
            }
          }
        }
        .phone-number {
          p {
            font-size: 1rem;
            ion-icon {
              font-size: 2rem;
            }
          }
        }
      }
      #sk-logo{
        height: 4rem;
        width: 100%;
      }
    }
    .nav-bottom {
      height: 1rem;
      .menu-port {
        .links {
          // margin-right: 0.7rem;
          .navbar-item {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // ! HOME
  .home {
    margin-top: 12rem;
    .welcome {
      height: 10rem;
    }
    .welcome .container{
      .animate__animated {
        font-size: 2.2rem;
        margin-top: -1rem;
      }
      .home-subtitle{
        font-size: 1rem;
        line-height: 1.5;
        width: 95%;
        margin-top: -2rem;
      }
    } 

    .home-section{
      .carousel-wrapper {
        width: 100%;
        .home-slideshow {
          height: 12rem;
          width: 100%;
          img {
            height: 13rem;
            width: 100%;
          }
        }
      }
    }
        #monitorscreen {
      .video {
        width: 100%;
        background-color: #ffffff;
        video {
          width: 55%;
          height: auto;
          margin-left: 22.5%;
        }
      }
    }
    .offerings {
      width: 100%;
      margin-top: -3rem;
      .columns .column {
        margin: auto;
        width: 50%;
      }
        .modal {
          .modal-card {
            width: 92%;
            margin: auto;
            height: 95%;
            header {
              background-color: #9d65c9;
            }
            header p {
              font-size: 1.4rem;
              width: 90%;
              font-weight: bold;
            }
            section {
              background-color: #fafafa;
            }
            section p {
              font-size: 1.2rem;
              line-height: 1.5;
            }
          }
        }
    }
  }

  // ! ABOUT
  .about {
    width: 100%;
    margin-top: 12rem;
    .coaches {
      font-size: 1.6rem;
    }
    .about-background {
      height: 8rem;
    }
    .about-background .hero-body .container h1 {
      font-size: 2.2rem;
      margin-top: -0.50rem;
    }
    .about-background .hero-body .container h4 {
      font-size: 1.2rem;
      margin-top: -1rem;
    }
    .about-content {
      width: 100%;
      p strong em {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .about-rene, .about-ola {
      margin: auto;
      width: 75%;
      .media-content {
        p {
          font-size: 2rem;
        }
        a {
          font-size: 1rem;
        }
      }
      .content {
        p {
          font-size: 1rem;
        }
      }
    }
    .about-rene {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
    .rene-modal, .ola-modal {
      height: 80%;
      width: 85%;
      margin: auto;
      header p {
        font-size: 1.8rem;
      }
      section figure {
        width: 15rem;
        margin-bottom: 3rem;
      }
      section div p {
        font-size: 1rem;
        width: 100%;
        line-height: 1.5;
      }
    }
  }

  // ! MULTISPORTS
  .multisports {
    width: 100%;
    margin-top: 12.5rem;
    margin-right: 0;
    .multi-sports-background {
      background-size: contain;
      height: 10rem;
      margin-top: 2.5rem;
      .title {
        font-size: 2.2rem;
        width: 100%;
        margin-top: 2rem;
      }
    }
    .infos-and-testimonial {
      margin-left: 3rem;
      .multisports-info {
        h3 {
          font-size: 1.6rem;
        }
        h3:first-child {
          width: 90%;
        }
        p {
          font-size: 1rem;
          width: 95%;
          line-height: 1.5;
        }
        .ms-click strong {
          font-size: 1rem;
          width: 100%;
        }
        img {
          height: 15rem;
          width: 70%;
        }
        .multi-sports-carousel{
          width: 85%;
          margin-left: 0;
          margin-bottom: 3rem;
          .multisports-slideshow img {
            height: 16rem;
            width: 100%;
          }
        }
      }
      .multi-sport-image {
        margin-left: 0.2rem;
      }
      .multi-sport-image img {
        width: 70%;
      }
      .multisports-services-testimonial {
        margin-top: -2rem;
        width: 80%;
        margin-left: 1rem;
        h4 {
          font-size: 2rem;
          width: 100%;
        }
        .testimonial-box{
          article {
            width: 100%;
            height: 10%;
            p {
              font-size: 1.2rem;
            }
            em {
              font-size: 1rem;
              width: 100%;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }

   // ! SCHOOL SERVICES 
    .school-services {
    margin-top: 12rem;
    .school-services-background {
      background-size: cover;
      height: 10rem;
      .title {
        font-size: 2.2rem;
        margin: auto;
      }
    }
    .school-services-info {
      margin-left: -1rem;
      .content {
        h3 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1rem;
          width: 100%;
          line-height: 1.5;
        }
        ul li {
          font-size: 1rem;
          width: 100%;
        }
      }
    }
    .school-services-testimonial {
      width: 90%;
      margin-left: 3.5rem;
      margin-top: -11rem;
      h4 {
        font-size: 2rem;
        width: 90%;
      }
      article {
        width: 90%;
        p strong {
          font-size: 1.2rem;
        }
        em strong {
          font-size: 1rem;
          margin: auto;
          line-height: 1.5;
        }
      }
    }
    .school-services-carousel {
      width: 100%;
      .school-carousel {
        margin: auto;
        width: 90%;
        .school-slideshow {
          width: 100%;
          height: 17rem;
          img{
            height: 19rem;
            width: 100%;
          }
        }
      }
      .workshops {
        margin-top: 4rem;
        margin-bottom: 0;
        margin-left: 2rem;
        h3 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1rem;
          width: 85%;
        }
      }
    }
  }

   // ! WHATS ON
   // * WHATS ON
   .non-event {
    .title {
      font-size: 1.4rem;
      margin-top: 12rem;
      width: 100%;
    }
  }

  .whatson{
    width: 100%;
    .hero {
      height: 10rem;
    }
    .hero .change .container .title{
      font-size: 2.2rem;
      margin-top: 1rem;
    }
    margin-top: 12rem;
    .whatson-info{
      margin-left: 6rem;
      .whatson-event{
        margin-right: 22.5%;
        figure{
          height: 22rem;
          width: 24rem;
          margin-top: 2rem;
        }
        h1 strong{
          font-size: 2rem;
          width: 100%;
          margin-bottom: 5rem;
        }
      }
    }
    .map{
      width: 30rem;
      MAP{
        width: 20rem;
      }
    }
    .content{
      h3{
        font-size: 1.4rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
  }

  // ! CONTACT
  .contact-us {
    width: 100%;
    margin-top: 12rem;
    .title {
      font-size: 2rem;
      margin-left: 3.5rem;
    }
    .contact-background {
      height: 10rem;
      .hero-body{
        .container {
          h1{
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }
    }
    .contact-form {
      width: 80%;
      margin: auto;
      form div label {
        font-size: 0.9rem;
      }
      form button {
        font-size: 0.9rem;
      }
    }
    .sub-form {
      // display: none;
    }
  }

    // ! CHILD PROTECTION
    .childprotection{
      width: 100%;
      margin-top: 12rem;
      .hero {
        height: 11.5rem;
      }
      .hero .hero-body .container .title {
        font-size: 2rem;
        margin-top: 0rem;
      }
      .hero .hero-body .container h3 {
        font-size: 0.8rem;
        width: 100%;
        margin-top: -0.50rem;
        line-height: 1.5;
      }
  
      .container .cp-statements .believe h3 {
        font-size: 1.2rem;
      }
      // .container .cp-statements {
      //   width: 100%;
      // }
      .container .cp-statements .beliefs ul li{
        font-size: 1rem;
        width: 90%;
        line-height: 1.5;
      }
      .container .cp-statements .order-one ol li {
        font-size: 1rem;
        width: 90%;
        margin-left: 1.5rem;
      }
      .container .cp-statements .staffing-policies{
        h2 {
          font-size: 1rem;
        }
        ol li {
          font-size: 1rem;
          width: 90%;
          line-height: 1.5;
        }
      }
      .container .cp-statements .conduct{
        h4 {
          font-size: 1.2rem;
        }
        ol li {
          font-size: 1rem;
          width: 90%;
          line-height: 1.5;
        }
      }
    }
  
    // ! PRIVACY
     // * PRIVACY
      .privacy {
      width: 100%;
      margin-top: 12rem;
      .hero {
        height: 11.5rem;
      }
      .hero .hero-body .container .title {
        font-size: 2.2rem;
        margin-top: 1rem;
      }
      .hero .hero-body .container h3 {
        font-size: 0.9rem;
        width: 100%;
        line-height: 1.5;
        margin-top: -0.5rem;
      }
      .container .privacy-statements .p-statements {
        p {
          font-size: 1rem;
          line-height: 1.5;
          margin-left: 2rem;
        }
        ul li {
          font-size: 1rem;
          line-height: 1.5;
          margin-left: 5rem;
        }
        h3 {
          font-size: 1.2rem;
          margin-left: 2rem;
        }
      }
    }
}


// ? MAX WITH 480PX
@media (max-width: 480px) {
  // ! HOME
  .home {
    margin-top: 12rem;
    .welcome {
      height: 10rem;
    }
    .welcome .container{
      .animate__animated {
        font-size: 1.4rem;
        margin-top: -1rem;
      }
      .home-subtitle{
        font-size: 0.75rem;
        line-height: 1.5;
        width: 95%;
        margin-top: -2rem;
      }
    } 

    .home-section{
      .carousel-wrapper {
        width: 100%;
        .home-slideshow {
          height: 10rem;
          width: 100%;
          img {
            height: 11rem;
            width: 100%;
          }
        }
      }
    }
        #monitorscreen {
      .video {
        width: 100%;
        background-color: #ffffff;
        video {
          width: 55%;
          height: auto;
          margin-left: 22.5%;
        }
      }
    }
    .offerings {
      width: 100%;
      margin-top: -3rem;
      .columns .column {
        margin: auto;
        width: 50%;
      }
        .modal {
          .modal-card {
            width: 92%;
            margin: auto;
            height: 95%;
            header {
              background-color: #ede682;
            }
            header p {
              font-size: 0.9rem;
              width: 90%;
              font-weight: bold;
            }
            section {
              background-color: #f7f2e7;
            }
            section p {
              font-size: 0.8rem;
            }
          }
        }
    }
  }

   // ! NAVBAR
  .navbar {
    width: 100%;
    .nav-top {
      display: block;
      width: 80%;
      img {
        width: 100%;
      }
      .contact {
        .email {
          p {
            font-size: 0.8rem;
            ion-icon {
              font-size: 1rem;
            }
          }
        }
        .phone-number {
          p {
            font-size: 0.8rem;
            ion-icon {
              font-size: 1rem;
            }
          }
        }
      }
      #sk-logo{
        height: 4rem;
        width: 100%;
      }
    }
    .nav-bottom {
      .menu-port {
        .links {
          margin-right: 0.7rem;
          .navbar-item {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  // ! FOOTER
  .foot {
    .footer-container {
      width: 100%;
      
      .social-links li {
        font-size: 1.4em;
        margin-right: 0.3em;
        margin-top: 2rem;
      }
      div .skcopyright strong {
        font-size: 0.55em;
        margin-left: 0;
        margin-top: 10rem;
        color: chartreuse;
        width: 100%;
      }
      .policy {
        margin-left: 0;
        p {
          font-size: 0.6em;
          display: block;
        }
      }
    }
  }

   // ! ABOUT
    .about {
    width: 100%;
    margin-top: 12rem;
    .coaches {
      font-size: 1.6rem;
    }
    .about-background {
      height: 8rem;
    }
    .about-background .hero-body .container h1 {
      font-size: 1.6rem;
      margin-top: -1rem;
    }
    .about-background .hero-body .container h4 {
      font-size: 0.9rem;
    }
    .about-content {
      width: 100%;
      p strong em {
        font-size: 0.8rem;
        line-height: 1.5;
      }
    }
    .about-rene, .about-ola {
      margin: auto;
      width: 75%;
      .media-content {
        p {
          font-size: 1.2rem;
        }
        a {
          font-size: 0.8rem;
        }
      }
      .content {
        p {
          font-size: 0.8rem;
        }
      }
    }
    .about-rene {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
    .rene-modal, .ola-modal {
      height: 80%;
      width: 85%;
      margin: auto;
      header p {
        font-size: 1.2rem;
      }
      section figure {
        width: 12rem;
      }
      section div p {
        font-size: 0.9rem;
        width: 100%;
        line-height: 1.5;
      }
    }
  }


  // ! SCHOOL SERVICES 
  .school-services {
    margin-top: 12rem;
    .school-services-background {
      background-size: cover;
      height: 10rem;
      .title {
        font-size: 1.4rem;
        margin: auto;
      }
    }
    .school-services-info {
      margin-left: -1rem;
      .content {
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
          width: 100%;
          line-height: 1.5;
        }
        ul li {
          font-size: 0.8rem;
          width: 100%;
        }
      }
    }
    .school-services-testimonial {
      width: 90%;
      margin-left: 2rem;
      margin-top: -11rem;
      h4 {
        font-size: 1rem;
        width: 90%;
      }
      article {
        width: 90%;
        p strong {
          font-size: 0.8rem;
        }
        em strong {
          font-size: 0.8rem;
          margin: auto;
          line-height: 1.5;
        }
      }
    }
    .school-services-carousel {
      width: 100%;
      .school-carousel {
        margin: auto;
        width: 90%;
        .school-slideshow {
          width: 100%;
          height: 15rem;
          img{
            height: 18rem;
            width: 100%;
          }
        }
      }
      .workshops {
        margin-top: 4rem;
        margin-bottom: 0;
        margin-left: 1rem;
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
          width: 85%;
        }
      }
    }
  }

  // ! MULTISPORTS
   // * MULTISPORTS SERVICES
  .multisports {
    width: 100%;
    margin-top: 12.5rem;
    margin-right: 0;
    .multi-sports-background {
      background-size: contain;
      height: 8.5rem;
      margin-top: 2.5rem;
      .title {
        font-size: 1.4rem;
        width: 100%;
        margin-top: 2rem;
      }
    }
    .infos-and-testimonial {
      margin-left: 3rem;
      .multisports-info {
        h3 {
          font-size: 1rem;
        }
        h3:first-child {
          width: 90%;
        }
        p {
          font-size: 0.8rem;
          width: 95%;
          line-height: 1.5;
        }
        .ms-click strong {
          font-size: 0.8rem;
          width: 100%;
        }
        img {
          height: 13rem;
          width: 70%;
        }
        .multi-sports-carousel{
          width: 90%;
          margin-left: 0;
          margin-bottom: 3rem;
          .multisports-slideshow img {
            height: 14rem;
            width: 100%;
          }
        }
      }
      .multi-sport-image {
        margin-left: 0.2rem;
      }
      .multi-sport-image img {
        width: 70%;
      }
      .multisports-services-testimonial {
        margin-top: -2rem;
        width: 80%;
        margin-left: 1rem;
        h4 {
          font-size: 1rem;
          width: 100%;
        }
        .testimonial-box{
          article {
            width: 100%;
            height: 10%;
            p {
              font-size: 0.8rem;
            }
            em {
              font-size: 0.7rem;
              width: 100%;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }

  // ! WHATS ON
   // * WHATS ON
  .non-event {
    .title {
      font-size: 1.4rem;
      margin-top: 12rem;
      width: 100%;
    }
  }

  .whatson{
    width: 100%;
    .hero {
      height: 6rem;
    }
    .hero .change .container .title{
      font-size: 1.2rem;
      margin-top: -0.75rem;
    }
    margin-top: 12rem;
    .whatson-info{
      margin: auto;
      .whatson-event{
        margin-right: 22.5%;
        figure{
          height: 18rem;
          width: 20rem;
          margin-top: 2rem;
        }
        h1 strong{
          font-size: 1.6rem;
          width: 100%;
          margin-bottom: 5rem;
        }
      }
    }
    .map{
      width: 30rem;
      MAP{
        width: 20rem;
      }
    }
    .content{
      h3{
        font-size: 1.3rem;
      }
      p{
        font-size: 1rem;
      }
    }
  }

  // ! CONTACT
  .contact-us {
    width: 100%;
    margin-top: 12rem;
    .title {
      font-size: 1.3rem;
    }
    .contact-background {
      height: 6rem;
      .hero-body{
        .container {
          h1{
            font-size: 1rem;
            margin-top: 0;
          }
        }
      }
    }
    .contact-form {
      width: 100%;
      form div label {
        font-size: 0.9rem;
      }
      form button {
        font-size: 0.9rem;
      }
    }
    .sub-form {
      display: none;
    }
  }

   // ! CHILD PROTECTION
    .childprotection{
    width: 100%;
    margin-top: 12rem;
    .hero {
      height: 11.5rem;
    }
    .hero .hero-body .container .title {
      font-size: 1.4rem;
      margin-top: -1rem;
    }
    .hero .hero-body .container h3 {
      font-size: 0.7rem;
      width: 100%;
      margin-top: -0.50rem;
      line-height: 1.5;
    }

    .container .cp-statements .believe h3 {
      font-size: 0.9rem;
    }
    // .container .cp-statements {
    //   width: 100%;
    // }
    .container .cp-statements .beliefs ul li{
      font-size: 0.8rem;
      width: 90%;
      line-height: 1.5;
    }
    .container .cp-statements .order-one ol li {
      font-size: 0.8rem;
      width: 90%;
    }
    .container .cp-statements .staffing-policies{
      h2 {
        font-size: 0.8rem;
      }
      ol li {
        font-size: 0.8rem;
        width: 90%;
        line-height: 1.5;
      }
    }
    .container .cp-statements .conduct{
      h4 {
        font-size: 0.8rem;
      }
      ol li {
        font-size: 0.8rem;
        width: 90%;
        line-height: 1.5;
      }
    }
  }

  // ! PRIVACY
   // * PRIVACY
    .privacy {
    width: 100%;
    margin-top: 12rem;
    .hero {
      height: 10rem;
    }
    .hero .hero-body .container .title {
      font-size: 1.4rem;
      margin-top: -1rem;
    }
    .hero .hero-body .container h3 {
      font-size: 0.7rem;
      width: 100%;
      line-height: 1.5;
    }
    .container .privacy-statements .p-statements {
      p {
        font-size: 0.8rem;
        line-height: 1.5;
      }
      ul li {
        font-size: 0.8rem;
        line-height: 1.5;
      }
      h3 {
        font-size: 0.9rem;
      }
    }
  }
}
